/*
--------------------------------
|       header                  |
|-------------------------------|
|           |                   |
|  sidebar  |       main/view   |
|           |                   |
|           |                   |
|           |                   |
|           |                   |
|           |                   |
|           |                   |
|-------------------------------|
|           footer              |
|-------------------------------





main_grid:  pc and mb: 1 col
            pc 2 column  -mobile: 1 column
            pc 3 column mb 1 cl (Nhưng chỉ trong main content mới co như vậy, trên mobile vẫn có thể 2 col card đẹp)



*/


.tab
{
    width: 100%;
}

.tab__grid 
{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 981px) 
{
    .tab__grid 
    {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.tab__noi-dung
{
    width:98%;
    padding:4px;
}

