.card__container 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
}

.card 
{
    background: var(--color-surface);
    border: 1px solid var(--border);
    border-radius: var(--border-radius-lg);
    padding: var(--padding-lg);
    box-shadow: var(--shadow);
}


@media (max-width: 981px) 
{
    .card 
    {
        padding: 0.9rem;
        overflow-x: auto;
    }
}



.card__caption
{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-on-background);
    margin-bottom: 4px;
}

.card__subCaption
{
    font-size: 12px;
    color: var(--color-on-background-secondary);
    margin-bottom: 8px;
}

.card__content
{
    font-size: 14px;
    color: var(--color-on-background-secondary);
}