.toast__container
{
    position:fixed;
    z-index:999;
    top:1.5rem;
    left:0.7rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    display:none;
    padding: 0.7rem;
    animation: thong-bao-popup-startup 0.2s ease-in-out;       
    border-radius: 0.6rem;    
}

.toast-infor
{
    color: #1F2937;
    border: 1px solid var(--text-sub);
    border-left: 4px solid var(--text-sub);
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);    
}

.toast__noiDung
{
    margin-top: 0.6rem;
    font-size: var(--text-md);
}

@keyframes thong-bao-popup-startup
{
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}