.view-grid {
    display: grid;
    gap: 1rem;
}

.view-grid--1 {
    grid-template-columns: 1fr;
}

.view-grid--2 {
    grid-template-columns: repeat(2, 1fr);
}

.view-grid--3 {
    grid-template-columns: repeat(3, 1fr);
}

.view-grid--4
{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 981px) 
{
    .view-grid--2,
    .view-grid--3 {
        grid-template-columns: 1fr;
    }

    .view-grid--4
    {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}