.card 
{
    background: var(--the);
    border: 1px solid var(--border);
    border-radius: var(--border-radius-lg);
    padding: var(--padding-lg);
    box-shadow: var(--shadow);
}

.card__caption 
{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 1rem;
    color: var(--brand-text-primary);
}


.card__number 
{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 8px;
    color: var(--brand-primary-dark);
}


@media (max-width: 981px) 
{
    .card 
    {
        padding: 0.9rem;
        overflow-x: auto;
    }

    .card__caption 
    {
        font-size: 1rem;
    }

    .card__number 
    {
        font-size: 1.6rem;
    }
}



.text-sub 
{
    color: var(--text-sub);
    font-size: 0.8rem;
}
