@keyframes hideShow 
{
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.login__container  
{
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 1000;
    width: 100%;
    height:100vh;
    justify-content:center;
    background: white;
}


.login__div 
{
    margin-top:60px;
    border-radius: var(--border-radius-lg);
    background: var(--color-primary-light);
    max-height:410px;
    animation-name: hideShow;
    animation-duration: 0.5s;
    width: 400px;
}

@media only screen and (max-width:576px) 
{
    .login__div {width: 90%;}
}



.login__header 
{
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
    font: 20px Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
    border-radius:var(--border-radius-lg) var(--border-radius-lg) 0px 0px;
    z-index: 101;
    background: var(-brand-header-gradient);
}
    
@media only screen and (min-width: 577px)
{
    .login__header 	{width:400px;}
}   

.login__error
{
    animation-name: hideShow;
    animation-duration: 0.5s;
    color: var(--color-on-primary);
}

.login__form
{
    animation-name: hideShow;
    animation-duration: 0.5s;
}



.login__submitButton
{
    cursor: pointer;
    background:var(--color-primary-light-gradient);
    color:var(--color-on-primary-light-gradient);
    padding:12px;
    width:200px;
    border-radius:5px;
    border:1px solid rgba(255,255,255,0.5);
}

.login__submitButton:hover
{
    transform: translateY(-2px);
    border:2px solid rgba(255,255,255,0.5);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.55);
    background:var(--color-background-gradient);
    color:var(--color-on-background-gradient);
}
