.dashboard
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

@media (max-width: 981px) 
{
    .dashboard
    {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}