
.form__container
{
    grid-template-columns: 1fr;
    padding: 0.6rem;
}

.form__grid
{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding: 16px 10px 16px 10px;
}

@media (max-width: 981px)
{
    .form__grid
    {
        grid-template-columns: 1fr;
    }
}


.column
{
    display: flex;
    flex-direction: column;
}

.row
{
    display: flex;
    flex-direction: row;
}

.form__field
{
    display: flex;
    flex-direction: column;
    gap: 6px;    
}

.form__field label
{
    font-weight: 500;
}

.form__field__label
{
    font-weight: 500;
}

.form__field input select textarea
{
    width: 100%;
    box-sizing: border-box;
    padding: 9px 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.inputBox
{
    width: 100%;
    box-sizing: border-box;
    padding: 9px 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form__field textarea
{
    min-height: 80px;
    resize: vertical;
}


.button,
input,
select,
textarea {
    font: inherit;
}


.inputBox-001
{
    animation-name: hideShow;
    animation-duration: 0.5s;

    box-sizing: border-box;
    margin-top: 20px;
    width: 92%;
    padding: 8px 8px 4px 30px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;

    font-size: 18px;
    line-height: 1.2;
}

.inputBox-001:focus
{
    outline: none;
    background: rgba(255,255,255,0.1);
    border-radius: 6px;
    border-bottom: 2px solid white;
}

::-webkit-input-placeholder { /* Edge */
    color: rgba(255,255,255,0.6);
    font-size:14px;
}